FRONTEND_URL="http://localhost:3000"
DATABASE_URL="mongodb://localhost/pure-web-scrap-db"
PORT=4444
REDIS_URL="redis://localhost:6379"
SERVER_URL="http://localhost:4444"

OR

FRONTEND_URL="http://nginx-app:8000"
DATABASE_URL="mongodb://mongo/pure-web-scrap-db"
PORT=4444
REDIS_URL="redis://redis:6379"
SERVER_URL="http://nginx-api:4444"